<p>
	A new comment was posted for your <%= @item.name %>
</p>
<blockquote>
	<em></em>
</blockquote>
<%= @comment.body %>

<p>
	To reply to this comment, please visit the item page at:
	<%= link_to "item page", @item %>
</p>
	
